*{
	padding: 0
	margin: 0
}
	@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../font/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('/font/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-family: "roboto_condenseditalic";


color:#646464;
font-size:2em;


}
h1	
{	
	margin: 0.1em;
	text-align: right;
	text-shadow: 4px 4px 4px rgba(255,255,255,0.5)
}

h2,h3	
{	
	margin: 0.1em;
	font-size:1em;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(255,255,255,0.5)
}
header
{
	background:	url(images/ECBTI-1.jpg) repeat;
	margin: 0	 absolute;
	padding: 5em;
}

section#contenedor
{
	background:  #43C7F4;
	margin: 0em;
	max-width: 2480px;
	padding:0.25em;
	text-align: center;
	color: #ffffff;
}
		
section#lectura1{
background: #005883;
max-width: 450px ;
padding:3em;
text-align: left;	
display: inline-block;		

}	
	section#lectura2{
background: #005883;s
margin: 0.5em auto;
max-width: 450px;
padding:3em;
text-align: left;	
display: inline-block;	

}		
	
article{
	font-size:0.7em;
	margin: 0em auto;
}		

footer{
	background:	url(images/img01.jpg) repeat;
	margin: 0em;
	max-width: 2480px;
	padding:0.25em;
	text-align: center;
	color: #F0B429;
	
}